.Album {
    width: 190px;
    background-color: #555555;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    margin-left: 10px;
}

.Album__image {
    width: 100%;
    height: 190px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.Album__info {
    width: auto;
    height: auto;
    padding: 10px;
}

.Album__title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
}

.Album__subtitle {
    font-size: .9em;
    opacity: .8;
}